<footer class="footer">
  <div class="container">
    <div class="footer-section footer-promo">
      <div class="footer-section-container">
        <div class="footer-section-title">promo</div>

        <div class="promo-image mb-4">
          <img src="assets/images/about_1.jpg" alt="" class="promo-image__img rounded">
        </div>

        <h3 class="text-primary font-weight-light mb-0">
          Finding Your Perfect Shirts This Summer
        </h3>
        <p>
          Promo from July 15 — 25, 2019
        </p>
      </div>
    </div>

    <div class="footer-section footer-quick-links">
      <div class="footer-section-container">
        <div class="footer-section-title">quick links</div>

        <div class="footer-links">
          <div>
            <ul>
              <li><a routerLink="/">Sell online</a></li>
              <li><a routerLink="/">Features</a></li>
              <li><a routerLink="/">Shopping cart</a></li>
              <li><a routerLink="/">Store builder</a></li>
            </ul>
          </div>
          <div>
            <ul>
              <li><a routerLink="/">Mobile commerce</a></li>
              <li><a routerLink="/">Dropshipping</a></li>
              <li><a routerLink="/">Website development</a></li>
            </ul>
          </div>
          <div>
            <ul>
              <li><a routerLink="/">Point of sale</a></li>
              <li><a routerLink="/">Hardware</a></li>
              <li><a routerLink="/">Software</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-section footer-contact-info">
      <div class="footer-section-container">
        <div class="footer-section-title">contact info</div>

        <div class="contact-info-item contact-location">
          <span class="icon">
            <i class="fas fa-map-marker-alt"></i>
          </span>
          <span class="content">
            203 Fake St. Mountain View, San Francisco, California, USA
          </span>
        </div>

        <div class="contact-info-item contact-tel">
          <span class="icon">
            <i class="fas fa-phone"></i>
          </span>
          <span class="content">
            <a href="tel:+2 392 3929 210">+2 392 3929 210</a>
          </span>
        </div>

        <div class="contact-info-item contact-mail">
          <span class="icon">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="content">
            <a href="mailto:emailaddress@domain.com">emailaddress@domain.com</a>
          </span>
        </div>

        <div class="subscription-box">
          <label class="small text-uppercase">subscribe</label>

          <div class="input-group form-control">
            <input type="email" class="form-control border-none" placeholder="Email">
            <div class="input-group-append">
              <span>
                <button class="btn btn-primary text-uppercase">send</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
