.section-title {
  border-left: 4px solid $primary;
  padding-left: 30px;
  color: black;
  text-transform: uppercase;

  &-center {
    position: relative;
    color: black;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 12px;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 70px;
      height: 4px;
      background-color: $primary;
    }
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

small,
.small {
  font-size: 70%;
  font-weight: 300;
}

.border-none {
  border: none !important;
}
